
body {
    font-family: sans-serif;
}

h1 {
    color: blue;
}

/*
div#content {
    margin-left:2em;
}
*/

div {
	background-color: #ADD8E6;
	border: 1px inset #00008B;
	width: 400px;
    margin-bottom: 4px;
}

table {
    margin-left: 2em;
}

th {
    border: 1pt solid gray;
    background: skyblue;
    color: blue;
    width: 100px;
}

td {
    border: 1pt solid gray;
    padding; 5px;
    width: 400px;
}

td#output {
    color: red;
}

td#sent {
    color: blue;
}

td#received {
    color: green;
}

li {
    margin-bottom: 10px;
}
